@using PhotographyCapstone.Models
@model LoginPO
@{
    ViewBag.Title = "Login";
}
<div class="light-background">
    <h2>Login</h2>
    @using (Html.BeginForm("Login", "Accounts", FormMethod.Post))
    {
        <div class="form-horizontal">
            @Html.LabelFor(model => Model.UserName)
            <div class="form-group">
                @Html.TextBoxFor(model => Model.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.UserName, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-horizontal">
            @Html.LabelFor(model => Model.Password)
            <div class="form-group">
                @Html.PasswordFor(model => Model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.Password, null, new { @class = "text-danger" })
            </div>
        </div>

        <input type="submit" value="Log In" />
    }

</div>