@using PhotographyCapstone.Models
@model AlbumPO
@{
    ViewBag.Title = "AddAlbum";
}

<h2>Add Album</h2>
 
@using (Html.BeginForm("AddAlbum", "Albums", FormMethod.Post))
{
   <div class="form-horizontal">
       @Html.LabelFor(model=>Model.AlbumName)
       <div class="form-group">
           @Html.TextBoxFor(model =>Model.AlbumName, new { @class= "form-control"})
           @Html.ValidationMessageFor(model => Model.AlbumName, null, new { @class = "text-danger" })
       </div>
   </div>
   <div class="form-horizontal">
       @Html.LabelFor(model=> Model.AlbumType)
       <div class="form-group">
           @Html.TextBoxFor(model => Model.AlbumType, new { @class = "form-control" })
           @Html.ValidationMessageFor(model => Model.AlbumType, null, new { @class= "text-danger"})
       </div>
   </div>
   
   <input type="submit" value="Add Album" />
}